html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*main page*/
.navbar{
	background-color: rgba(255, 213, 45, 0.8);
	color:#ffffff;
}
.navbar .container-fluid{
	padding: 10px 10px 10px 10px;
}
.navbar-default .navbar-brand{
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a{
	color:#ffffff;
}
#started{
	height: 550px;
	background: url(../images/weather.png);
	margin-bottom: 0;
}
#basic-info{
	height: 500px;
	background: #fff;
	margin-bottom: 0;
}
#how-to{
	height: 500px;
	background: #fff;
	background: url(../images/weather.png);
	margin-bottom: 0;
}
#create-account{
	background-color: #ffffff;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 61px;
    background-color:#46A819;
}



/*sign up page*/



/*sign in page*/
.sign-in{
	background-color: #ffffff;
	border: solid 1px #cccccc;
	margin-top: 130px;
	padding: 2%;
	border-radius: 4%;
	box-shadow: 10px 10px 5px grey
}
.form-group .col-sm-10{
	padding-left: 27px;
}
.col-sm-10 .form-control{
	width: 60%;
}
.heading{
	padding-bottom: 15px;
}